    * {
        margin: 0;
        bottom: 0;
        box-sizing: border-box;
        font-family: "Nunito", sans-serif;
        font-family: 'Open Sans', sans-serif;
        background-repeat: no-repeat;
        text-align: center;
    }
    
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url("./doga.jpg");
        background-color: rgba(0, 0, 0, 0.8);
        height: 100vh;
        background-position: cover;
    }
    
    .header {
        font-size: 50px;
        font-weight: 500;
        text-shadow: 1px 3px rgba(177, 56, 56, 0.7);
    }
    
    .content {
        margin: 50px;
        font-family: 'Courier New', Courier, monospace;
    }
    
    .input {
        height: 55px;
        width: 350px;
        background: transparent;
        font-size: 20px;
        font-weight: bold;
        border: 0cm;
        color: black;
        outline: 0cm;
        border-radius: 20px;
        border-bottom: 2px solid black;
        background-color: #ca93c1;
        box-shadow: 10 10 15px 10px rgba(0, 0, 0, 0.8);
    }
    
    .input:hover {
        border: 1px solid #aaa;
    }
    
    input:focus {
        outline: none !important;
        background-color: #ffd969;
        border-color: #000;
    }
    
    .city {
        font-weight: 700;
        font-size: 50px;
        margin: 5px;
        border-bottom: 1px solid black;
        text-shadow: 1px 3px rgba(177, 56, 56, 0.7);
    }
    
    .weather {
        font-weight: 500;
        font-size: 40px;
        margin: 5px;
        text-shadow: 1px 3px rgba(177, 56, 56, 0.2);
    }
    
    .temp {
        font-weight: 300;
        font-size: 30px;
        margin: 5px;
        text-shadow: 1px 3px rgba(177, 56, 56, 0.2);
    }
    
    .tempi {
        font-weight: 300;
        font-size: 30px;
        margin: 5px;
        text-shadow: 1px 3px rgba(177, 56, 56, 0.2);
    }